mat-card {
  margin: 1.5rem;

  mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .description {
      padding: 1rem;
      margin: 0 0;
    }

    mat-checkbox {
      margin: 0 auto;
    }
  }
}
