/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #fcfcfc;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin centerlize-container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
}
